@(title: String = "QR Code Generator", message: Message)(content: Html)<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>@title</title>
  @include.allCss(additionalCssBeforeDoc = Html(s"""<link type="text/css" href="${routes.Assets.at("stylesheets/qr.min.css")}" rel="stylesheet" />"""))
</head>
<body>
  @qr.body(message, content)
  @include.jsForApp(Html(s"""<script type="text/javascript" src="${routes.Assets.at("javascripts/qrcode.min.js")}"></script>
<script type="text/javascript" src="${routes.Assets.at("javascripts/qr/default.min.js")}"></script>"""))

  <!--[if lt IE 8]>
    <script type="text/javascript">
      document.getElementById("ieMessage").innerHTML = "<div class='alert alert-warning'>You are using an outdated web browser. It is not supported at all.</div>";
      document.getElementById("qrCodeUrlGroup").innerHTML = ""
      alert("You are using an outdated web browser. It is not supported at all.");
    </script>
  <![endif]-->

</body>
</html>
